<nav class="bg-gray-100">
    <div class=" mx-auto px-4">
      <div class="flex justify-between">
  
        <div class="flex space-x-4">
          <div>
            <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
              <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 7h20M2 12h20M2 17h20M4 7V5a2 2 0 012-2h12a2 2 0 012 2v2M4 12v-1a2 2 0 012-2h12a2 2 0 012 2v1M4 17v-1a2 2 0 012-2h12a2 2 0 012 2v1M3 18h18v1a1 1 0 01-1 1H4a1 1 0 01-1-1v-1z" />
              </svg>                                              
              <span class="font-bold">Restaurant</span>
            </a>
          </div>
  
          <div class="hidden md:flex items-center space-x-1">
            <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900">Features</a>
            <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-900">Pricing</a>
          </div>
        </div>
  
        <div class="hidden md:flex items-center space-x-1">
          <a href="/login" class=" py-2 px-3 bg-green-400 hover:bg-green-700 text-black-900 hover:text-black-800 rounded transition duration-300 nav-link px-3">Login</a>
          <a href="/signup" class="py-2 px-3 bg-green-400 hover:bg-green-700 text-black-900 hover:text-black-800 rounded transition duration-300">Signup</a>
        </div>
  
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
  
      </div>
    </div>
  
    <div class="mobile-menu hidden md:hidden">
      <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Features</a>
      <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Pricing</a>
    </div>
  </nav>
  